@{
	ViewBag.Title = "The most rated songs analysis";
}


@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
	<title>The most rated songs analysis</title>
</head>
<body>
	<br /><br />
	<br />
	<br />
	<br />
	<br />
	<div id="chartContainer2"></div>

	<script type="text/javascript">

		window.onload = function () {
			var chart = new CanvasJS.Chart("chartContainer2", {
				theme: "light2",
				animationEnabled: true,
				title: {
					text: "The Most rated songs(top 5)"
				},
				data: [
					{
						type: "column",
						dataPoints: [
                            { y: @ViewBag.counts[0].count, label: "@ViewBag.counts[0].song_name"+"--"+"@ViewBag.counts[0].song_artist"},
                            { y: @ViewBag.counts[1].count, label: "@ViewBag.counts[1].song_name"+"--"+"@ViewBag.counts[1].song_artist"},
                            { y: @ViewBag.counts[2].count, label: "@ViewBag.counts[2].song_name"+"--"+"@ViewBag.counts[2].song_artist"},
                            { y: @ViewBag.counts[3].count, label: "@ViewBag.counts[3].song_name"+"--"+"@ViewBag.counts[3].song_artist"},
                            { y: @ViewBag.counts[4].count, label: "@ViewBag.counts[4].song_name"+"--"+"@ViewBag.counts[4].song_artist"}
						]
					}
				]
			});
			chart.render();
		};
	</script>

</body>
</html>